name: Publish Docs
on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish-doc:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        python-version: ["3.10"]

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install PDM
        run: |
          python -m pip install --upgrade pip
          python -m pip install pdm
          pdm venv create

      - name: Install dependencies
        run: pdm sync -G doc

      - name: Run build-sphinx
        run: make doc

      - name: Deploy gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html_doc
